<div class="ui leaderboard test ad" data-text="SoSplit">

</div>

<div class="ui form">
  <div class="field">
    <label>Choose who you pay for:</label>
    <div class="ui selection dropdown">
      <input type="hidden" id="payfor" value="{{transfer.requests.0.id}}">
      <div class="text">
      </div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each transfer.requests}}
          {{#unless sent}}
            <div class="item" data-value="{{id}}">
              <img class="ui avatar image tiny" src="{{photoUrl}}"><span>{{display}}</span>
                <label class="ui teal label">$ {{amount}}</label>
            </div>
          {{/unless}}
        {{/each}}
      </div>
    </div>
  </div>

  <div class="field">
    <div class="ui left icon input">
      <input type="text" id="cardHolderName" placeholder="Card holder name">
      <i class="pink user icon"></i>
    </div>
  </div>
  <div class="field">
    <div class="ui left icon input">
      <input type="text" id="cardNumber" placeholder="Card number">
      <i class="pink payment icon"></i>
    </div>
  </div>
  <div class="field">
    <div class="ui left icon input">
      <input type="text" id="cardExpireDate" placeholder="MM/YY">
      <i class="pink calendar outline icon"></i>
    </div>
  </div>
  <div class="field">
    <div class="ui left icon input">
      <input type="text" id="cardCVC" placeholder="CVC">
      <i class="pink lock icon"></i>
    </div>
  </div>

  <div class="fluid ui primary huge footer button" id="submit">
      <i class="send outline icon"></i> Send to {{transfer.receiver.display}}
  </div>
</div>

<script>
$('.ui.dropdown').dropdown();

$('#submit').click(function(event) {
  $(this).toggleClass('disabled');
  var expire = $('#cardExpireDate').val();
  var expires = expire.split('/');
  var moneySend = {
    sender: {
      id: $('#payfor').val()
    },
    card: {
      holder: $('#cardHolderName').val(),
      number: $('#cardNumber').val(),
      expiryMonth: expires[0],
      expiryYear: '20'+expires[1],
      cvc: $('#cardCVC').val()
    }
  };

  $.ajax({
    url: '../transfers/{{transferId}}/send',
    method: 'PUT',
    contentType: 'application/json',
    dataType: 'json',
    data: JSON.stringify(moneySend)
  }).always(function(data) {
    //it's demo, let's make it simple
    window.close();
  });
});

$('#cardHolderName').keypress(function(event) {
  if (event.keyCode == 45) {
    //if it's -, we auto fill for demo
    $('#cardHolderName').val('TANG Hao');
    $('#cardNumber').val('5184680430000006');
    $('#cardExpireDate').val('11/17');
    $('#cardCVC').val('838');
    this.blur();
  }
});
</script>
